@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.json-viewer-empty-header {
  margin-bottom: 20px;
}

.add-height {
  height: auto !important;
}

.rotate90 {
  transform: rotate(0deg) !important;
}

.jv-wrap {
  display: flex;
}

.jv-folder {
  cursor: pointer;
}

/* for light theme */

.jv-light-con {
  background: #ffffff;
  color: #000000;
  font-family: 'Space Mono';
  overflow: auto;
  height: 100%;
  width: 100%;
}

.jv-light-symbol {
  color: #0000ff;
  font-weight: bold;
}

.jv-light-current {
  line-height: 30px;
  padding-left: 40px;
  position: relative;
}

.jv-light-left {
  display: inline-block;
}

.jv-light-left-text {
  color: #00008b; /* Dark blue for keys */
}

.jv-light-left-array-item {
  color: #008000; /* Green for array items */
}

.jv-light-rightString {
  display: inline-block;
  color: #d2691e; /* Chocolate color for strings */
}

.jv-light-rightBoolean {
  display: inline-block;
  color: #008000; /* Green for booleans */
}

.jv-light-rightNumber {
  display: inline-block;
  color: #ff4500; /* Orange red for numbers */
}

.jv-light-rightNull {
  display: inline-block;
  color: #808080; /* Gray for null */
}

.jv-light-rightObj {
  display: block !important;
  overflow: hidden;
  height: 0;
}

.jv-light-rightArr {
  display: block !important;
  overflow: hidden;
  height: 0;
}

.jv-light-folder {
  width: 0px;
  display: inline-block;
  margin-left: -15px;
  text-align: center;
  cursor: pointer;
  height: 0px;
  border: 4px solid transparent;
  border-top: 8px solid #0000ff; /* Blue for the folder arrow */
  position: absolute;
  top: 11px;
  transform: rotate(-90deg);
  transform-origin: 50% 25%;
}

.jv-light-len {
  color: #000000; /* Black for the length */
}


/* for dark theme */

.json-viewer-container {
  display: flex;
  flex-direction: column;
  background-color: #1d293b;
}

.json-viewer-header {
  display: flex;
  align-items: center;
  border: 2px solid #1d293b;
  padding: 10px;
}

.json-viewer-header span:nth-child(1) {
  font-weight: bold;
}

.json-viewer-header span:nth-child(2) {
  font-weight: 100;
}

.json-viewer-header span:nth-child(3) {
  font-weight: bold;
  font-size: 1rem;
}

.method {
  color: #b5cea8;
  padding-right: 20px;
}

.baseUrl {
  color: white;
}

.url {
  color: #b5cea8;
}

.jv-dark-con {
  color: #000;
  font-family: 'Space Mono';
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: #202020;
}

.jv-dark-symbol {
  color: #da70d6;
  font-weight: bold;
}

.jv-dark-current {
  line-height: 30px;
  padding-left: 40px;
  position: relative;
}

.jv-dark-left {
  display: inline-block;
}

.jv-dark-left-text {
  color: #9cdcfe;
}

.jv-dark-left-array-item {
  color: #b5cea8;
}

.jv-dark-rightString {
  display: inline-block;
  color: #ce9178;
}

.jv-dark-rightBoolean {
  display: inline-block;
  color: #569cd6;
}

.jv-dark-rightNumber {
  display: inline-block;
  color: #b5cea8;
}

.jv-dark-rightNull {
  display: inline-block;
  color: #569cd6;
}

.jv-dark-rightObj {
  display: block !important;
  overflow: hidden;
  height: 0;
}

.jv-dark-rightArr {
  display: block !important;
  overflow: hidden;
  height: 0;
}

.jv-dark-folder {
  width: 0px;
  display: inline-block;
  margin-left: -15px;
  text-align: center;
  cursor: pointer;
  height: 0px;
  border: 4px solid transparent;
  border-top: 8px solid #da70d6;
  position: absolute;
  top: 11px;
  transform: rotate(-90deg);
  transform-origin: 50% 25%;
}

.jv-dark-len {
  color: white;
}

.obj-color {
  color: #9cdcfe;
}

.arr-color {
  color: #b5cea8;
}
